*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --primary-color: #699f3a;
  --secondary-color-one: #d6a83a;
  --secondary-color-two: #da6a35;
  --heading-font: "Henny Penny", sans-serif;
  --body-font: "Lato", sans-serif;
}

body {
  margin: 0;
  background-color: var(--primary-color);
  font-family: var(--body-font);
}

.wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 50px;
  padding: 50px;
}

.logo-page {
  padding-top: 50px;
}

.logo {
  object-fit: cover;
  height: 500px;
  margin-left: 80px;
}

h1 {
  text-align: center;
  font-family: var(--heading-font);
  color: white;
  font-size: 120px;
  margin: 0;
  position: relative;
  bottom: 50px;
  left: 50px;
  letter-spacing: -0.01;
}

h2 {
  font-family: var(--heading-font);
  font-size: 2rem;
  color: white;
  margin-top: 0;
}

input {
  width: 441px;
  height: 50px;
  border-radius: 8px;
  border: none;
  padding: 20px;
  font-family: var(--body-font);
  font-size: 18px;
  color: #242323;
  background-color: #d9d9d9;
}

button {
  height: 50px;
  width: 134px;
  background-color: var(--secondary-color-one);
  border: none;
  border-radius: 8px;
  font-family: var(--body-font);
  font-size: 18px;
  color: #8d7539;
}

#grocery-list {
  background-color: white;
  width: 579px;
  height: 600px;
  margin-top: 10px;
  border-radius: 8px;
  padding: 20px;
}

ul {
  padding-left: 0;
}

/* Hidden for mobile */

.logo-page-mobile {
  display: none;
}

/* Styling elements created with Javascript */

li {
  list-style: none;
  color: var(--primary-color);
  margin-bottom: 15px;
  display: flex;
  justify-content: space-between;
}

.style-btn {
  position: relative;
  top: 5px;
  height: 20px;
  margin-left: 20px;
}

.inline-edit-input {
  width: 200px;
  height: 10px;
  margin-bottom: 20px;
  font-size: 12px;
  background-color: white;
  color: var(--primary-color);
  padding: 10px;
}

.inline-edit-input:focus {
  border: 1px solid var(--primary-color);
  outline: none;
}

/* Media Queries for Mobile Devices */
@media screen and (max-width: 500px) {
  body {
    max-width: 100%;
    overflow-x: hidden;
  }

  .grocery-page {
    width: 400px;
    margin: 0 auto;
  }
  .logo-page {
    display: none;
  }

  .logo-page-mobile {
    display: block;
    width: 200px;
    height: 100px;
  }

  .wrapper {
    display: grid;
    grid-template-columns: 1fr;
    width: 100%;
    max-width: 100vw;
    margin: 0 auto;
    gap: 5px;
    padding: 0;
  }
  .logo {
    object-fit: cover;
    height: 100px;
    margin-left: 0;
    position: relative;
    left: 155px;
    margin-top: 5px;
  }

  h1 {
    font-size: 30px;
    width: 20px;
    margin: 0 auto;
    bottom: 15px;
    left: 65px;
  }

  h2 {
    font-size: 1rem;
    text-align: center;
    margin-top: 35px;
  }
  #grocery-list {
    width: 400px;
    height: 650px;
    
  }

  input {
    width: 280px;
    font-size: 12px;
  }

  button {
    width: 116px;
    font-size: 12px;
  }
}

@media screen and (max-width: 390px) {
#grocery-list {
    width: 380px;
    height: 650px;
  }

  button {
width: 125px;
  }

  input {
    width: 250px;
  }

   .grocery-page {
    width: 390px;
    margin-left: 5px;
  }

}