*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  background-color: #ecfdf5;
  margin-left: 100px;
  margin-right: 100px;
  margin-top: 50px;
}

h1 {
  color: #273549;
  font-family: "Karla", sans-serif;
  font-size: 5rem;
  font-weight: 900;
  letter-spacing: -1px;
  line-height: 5rem;
  margin-bottom: 2rem;
  margin-top: 2rem;
}

span {
  color: #10b981;
}

h2 {
  color: #6b7280;
  font-family: "Inter", sans-serif;
  font-weight: 300;
  margin-bottom: 50px;
  font-size: 2.8rem;
  letter-spacing: 0.8px;
}

button {
  width: 350px;
  height: 80px;
  border: none;
  font-family: "inter", sans-serif;
  font-size: 30px;
  color: white;
  background-color: #10b981;
  margin-bottom: 50px;
  border-radius: 6px;
}

.light-dark-modes {
  display: flex;
  gap: 20px;
}

.second__container {
  display: flex;
  gap: 50px;
  justify-content: space-evenly;
}

.password-one,
.password-two {
  width: 350px;
  height: 80px;
  background-color: #273549;
  margin-top: 30px;
  border-radius: 8px;
  color: #10b981;
  text-align: center;
  padding: 25px;
  font-size: 25px;
  font-weight: 900;
}

/* Media Queries for Mobile Devices */
@media screen and (max-width: 500px) {
  body {
    max-width: 100%;
    overflow-x: hidden;
    margin-left: 30px;
    margin-right: 30px;
  }

  h1 {
    font-size: 2.5rem;
    line-height: 3rem;
  }

  h2 {
    font-size: 1.5rem;
  }

  button {
    font-size: 20px;
    width: 280px;
    height: 60px;
    margin-bottom: 70px;
    margin-top: 10px;
  }

  .password-one,
  .password-two {
    font-size: 14px;
    width: 150px;
    padding: 0px;
    padding-top: 30px;
  }

  .second__container {
    display: flex;
    gap: 10px;
    margin-top: 20px;
  }
}
